<!-- Service Start -->
<section id="service">
  <div class="container">
    
    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.committee.title }}</h2>
        <p>{{ .Site.Data.committee.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.committee.content }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src='{{ .img }}' class="{{ .icon }}" />
          <h4>{{ .name }}</h4>
          <p>{{ .role }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>