<!-- Content Start -->
<section id='values'>
    <div class="container">
      <!-- Header -->
      <div class="row">
          <div class="col-md-12 col-sm-12">
          <div class="block" style="text-align: center"> 
        <div class="section-title text-center">
          <h2>{{ .Site.Data.linkedin.title }}</h2>
          <p>{{ .Site.Data.linkedin.subtitle }}</p>
        </div>
      </div>
    </div>
  
      
          {{ range .Site.Data.linkedin.content }}
          <div class="col-md-4 col-sm-12">
              <div class="block" > 
              <div class="service-item">
                <h2 class='text-center {{ .color }}'>{{ .name }}</h2>
                <p style="text-align: center">{{ .description }} 
                <a style="font-size: 12px" href="{{ .url }} ">Read More</a></p>
            </div>
            </div>
          </div>
          {{ end }}
      </div>
    </div>
  </section>
  