<!-- Content Start -->
<section id='values'>
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="section-title text-center">
          <h2>{{ .Site.Data.values.title }}</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4 ">
            <div class="block">
              <h2 class='text-center spk-red'>{{.Site.Data.values.value1}}</h2>
          </div>
        </div>
        <div class="col-md-4 ">
            <div class="block">
              <h2 class='text-center spk-blue'>{{.Site.Data.values.value2}}</h2>
          </div>
        </div>
        <div class="col-md-4 ">
            <div class="block">
              <h2 class='text-center spk-yellow'>{{.Site.Data.values.value3}}</h2>
          </div>
        </div>

      </div>
    </div>
  </section>
  