<!-- yap Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="block" style="font-size: 18px">
          <div class="section-title">
            <img style="width: 50%" src="{{ .Site.Params.yap.title }}" />
            <p style="font-size: 22px">{{ .Site.Params.yap.italic }}</p>
          </div>
          <p style="font-size: 18px">{{ .Site.Params.yap.paragraph }}</p>
          <ul style="list-style-type: disc; padding-left: 20px; color: #7B7B7B">
            <li>Sport</li>
            <li>Current Affairs and Culture</li>
            <li>Business and Technology</li>
            <li>Other/Miscellaneous</li>
          </ul>
          <p style="font-size: 18px">The category winners will qualify for the final to find the top three student podcasts in Ireland. Submission of entries will open for only one week, from <b>1st to 7th April 2019</b>. Instructions regarding submission will become <b>available here on 1st April.</b></p>
          <p style="font-size: 18px;"><b>{{ .Site.Params.yap.paragraph2sub }}</b></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-4 col-sm-4">
        <div class="block">
          <img src="{{ .Site.Params.yap.img }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <h2 class="yap-orange">{{ .Site.Params.yap.head3 }} </h2>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row" style="margin-top: 2em">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yap.prize1_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yap.prize1 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yap.prize2_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yap.prize2 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yap.prize3_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yap.prize3 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="block">
            <div class="judge">
                <h2 class="yap-orange">{{ .Site.Params.yap.head4 }} </h2>
                <ul style="margin-top: 2em">
                  <li>
                    <h3 class="yap-blue judge">{{ .Site.Params.yap.jc1 }}</h3>
                    <p class="judge" style="font-size: 18px">{{ .Site.Params.yap.jc1d }}</p>
                  </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yap.jc2 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yap.jc2d }}</p>
                    </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yap.jc3 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yap.jc3d }}</p>
                    </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yap.jc4 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yap.jc4d }}</p>
                    </li>
                </ul>
              </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="block">
              <img src="{{ .Site.Params.yap.judge_img }}" alt="Img">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <h2 class="yap-orange" style="text-align: center">For competition updates, follow us on social media:</h2>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-4 col-sm-4">
            <div class="block" style="text-align: center"> 
                <span class="fa-stack fa-lg icons">
                    <a href="{{ .Site.Params.yap.twitter_link }}">
                    <i class="fa fa-square fa-stack-2x" style="color: #93c7d5"></i>
                    <i class="fa fa-twitter fa-stack-1x" style="color: white"></i>
                    </a>
                    </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <div class="block" style="text-align: center">
                  <span class="fa-stack fa-lg icons">
                      <a href="{{ .Site.Params.yap.facebook_link }}">
                      <i class="fa fa-circle fa-stack-2x" style="color: #93c7d5"></i>
                      <i class="fa fa-facebook fa-stack-1x" style="color: white"></i>
                      </a>
                      </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="block" style="text-align: center">
                    <span class="fa-stack fa-lg icons">
                        <a href="{{ .Site.Params.yap.instagram_link }}">
                        <i class="fa fa-circle fa-stack-2x" style="color: #93c7d5"></i>
                        <i class="fa fa-instagram fa-stack-1x" style="color: white"></i>
                        </a>
                        </span>
                </div>
              </div>
      </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <img src="{{ .Site.Params.yap.partner }}" alt="Partner">
          </div>
        </div><!-- .col-md-7 close -->
      </div>
</div>
</section>