<!-- yap Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="block" style="font-size: 18px">
          <div class="section-title">
            <img style="width: 50%" src="{{ .Site.Params.yapireland.title }}" />
            <p style="font-size: 22px">{{ .Site.Params.yapirelandireland.italic }}</p>
          </div>
          <p style="font-size: 18px">{{ .Site.Params.yapirelandireland.paragraph }}</p>
          <ul style="list-style-type: disc; padding-left: 20px; color: #7B7B7B">
            <li>Sport</li>
            <li>Current Affairs and Culture</li>
            <li>Business and Technology</li>
            <li>Other/Miscellaneous</li>
          </ul>
          <p style="font-size: 18px">The category winners will qualify for the final to find the top three student podcasts in Ireland. Submission of entries will open for only one week, from <b>1st to 7th April 2019</b>. Instructions regarding submission will become <b>available here on 1st April.</b></p>
          <p style="font-size: 18px;"><b>{{ .Site.Params.yapirelandireland.paragraph2sub }}</b></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-4 col-sm-4">
        <div class="block">
          <img src="{{ .Site.Params.yapireland.img }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <h2 class="yap-orange">{{ .Site.Params.yapireland.head3 }} </h2>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row" style="margin-top: 2em">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yapireland.prize1_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yapireland.prize1 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yapireland.prize2_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yapireland.prize2 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="block">
            <img src="{{ .Site.Params.yapireland.prize3_img }}" alt="Img">
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-10 col-sm-10">
          <div class="block">
            <p style="font-size: 18px">{{ .Site.Params.yapireland.prize3 }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="block">
            <div class="judge">
                <h2 class="yap-orange">{{ .Site.Params.yapireland.head4 }} </h2>
                <ul style="margin-top: 2em">
                  <li>
                    <h3 class="yap-blue judge">{{ .Site.Params.yapireland.jc1 }}</h3>
                    <p class="judge" style="font-size: 18px">{{ .Site.Params.yapireland.jc1d }}</p>
                  </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yapireland.jc2 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yapireland.jc2d }}</p>
                    </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yapireland.jc3 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yapireland.jc3d }}</p>
                    </li>
                  <li>
                      <h3 class="yap-blue judge">{{ .Site.Params.yapireland.jc4 }}</h3>
                      <p class="judge" style="font-size: 18px">{{ .Site.Params.yapireland.jc4d }}</p>
                    </li>
                </ul>
              </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="block">
              <img src="{{ .Site.Params.yapireland.judge_img }}" alt="Img">
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="yap-orange">SUBMISSION INSTRUCTIONS</h2>
        <p class="judge" style="font-size: 18px">{{ .Site.Params.yapireland.subp1 }}</p>
        <p class="judge" style="font-size: 18px">MP3 file submissions will only be valid if they are sent via <a href="https://wetransfer.com">WeTransfer’s</a> free service to <a href='mailto:yapireland@speakeasyireland.ie'>yapireland@speakeasyireland.ie</a>, with the following format for your podcast’s information in the ‘message’ box.</p>
        <ul style="list-style-type: circle; margin-left: 20px;">
          <li style="font-size: 18px">Submission Category e.g. Sport</li>
          <li style="font-size: 18px">Title of podcast</li>
          <li style="font-size: 18px">Name of host/hosts</li>
          <li style="font-size: 18px">University/3rd Level Institution</li>
          <li style="font-size: 18px">Contact email</li>
          <li style="font-size: 18px">Phone number</li>
          <li style="font-size: 18px">Description of podcast (max 100 words)</li>
        </ul>
        </div>
        <p class="judge" style="font-size: 18px">For any questions regarding submission, please direct message the YAP Team on our <a href="https://www.instagram.com/yap_ireland/">Instagram account</a>.</p>
      </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <h2 class="yap-orange" style="text-align: center">For competition updates, follow us on social media:</h2>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-4 col-sm-4">
            <div class="block" style="text-align: center"> 
                <span class="fa-stack fa-lg icons">
                    <a href="{{ .Site.Params.yapireland.twitter_link }}">
                    <i class="fa fa-square fa-stack-2x" style="color: #93c7d5"></i>
                    <i class="fa fa-twitter fa-stack-1x" style="color: white"></i>
                    </a>
                    </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <div class="block" style="text-align: center">
                  <span class="fa-stack fa-lg icons">
                      <a href="{{ .Site.Params.yapireland.facebook_link }}">
                      <i class="fa fa-circle fa-stack-2x" style="color: #93c7d5"></i>
                      <i class="fa fa-facebook fa-stack-1x" style="color: white"></i>
                      </a>
                      </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="block" style="text-align: center">
                    <span class="fa-stack fa-lg icons">
                        <a href="{{ .Site.Params.yapireland.instagram_link }}">
                        <i class="fa fa-circle fa-stack-2x" style="color: #93c7d5"></i>
                        <i class="fa fa-instagram fa-stack-1x" style="color: white"></i>
                        </a>
                        </span>
                </div>
              </div>
      </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <img src="{{ .Site.Params.yapireland.partner }}" alt="Partner">
          </div>
        </div><!-- .col-md-7 close -->
      </div>
</div>
</section>
